In [1]:
#importing all libraries
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

1-Scrape the details of most viewed videos on YouTube from Wikipedia: Url =https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: 
            
            A) Rank 
            
            B) Name 
            
            C) Artist 
            
            D) Upload date E) Views

In [3]:
# loading Chrome webdriver
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver")

# passing the url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
# assigning the variable
rank = []
name = []
artist = []
date = []
views = []
data = []


# scraping the rank
for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]'):
    rank.append(i.text)

# scraping the name of the album
for j in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]'):
    name.append(j.text)

# scraping the artist name
for k in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]'):
    artist.append(k.text)
# scraping views
for l in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]'):
    views.append(l.text)
    
# scraping the date
for m in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]'):
    date.append(m.text)

In [5]:
youtube = pd.DataFrame({'Rank': rank,
                       'Album Name': name,
                       'Artist': artist,
                       'Views (in Billion)': views,
                       'Upload Date': date})
youtube

,Rank,Album Name,Artist,Views (in Billion),Upload Date
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"9,453,134,982","June 17, 2016"
1,2,"""Despacito""[25]",Luis Fonsi,"7,572,747,360","January 12, 2017"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"5,781,348,353","October 8, 2016"
3,4,"""Shape of You""[27]",Ed Sheeran,"5,483,427,541","January 30, 2017"
4,5,"""See You Again""[28]",Wiz Khalifa,"5,284,905,560","April 6, 2015"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"4,549,294,432","May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"4,513,879,675 (as of Sep 29, 2021)","February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"4,461,096,975","January 31, 2012"
8,9,"""Uptown Funk""[34]",Mark Ronson,"4,319,159,452","November 19, 2014"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"4,220,180,419","March 6, 2014"
10,11,"""Gangnam Style""[36]",Psy,"4,211,421,413","July 15, 2012"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"3,633,337,215","April 5, 2018"
12,13,"""Sugar""[39]",Maroon 5,"3,565,906,701","January 14, 2015"
13,14,"""Sorry""[40]",Justin Bieber,"3,474,094,697","October 22, 2015"
14,15,"""Roar""[41]",Katy Perry,"3,444,786,615","September 5, 2013"
15,16,"""Counting Stars""[42]",OneRepublic,"3,412,577,920","May 31, 2013"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"3,337,279,340","October 7, 2014"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"3,291,808,512","May 24, 2018"
18,19,"""Dark Horse""[45]",Katy Perry,"3,155,611,442","February 20, 2014"
19,20,"""Faded""[46]",Alan Walker,"3,155,489,927","December 3, 2015"
20,21,"""Girls Like You""[47]",Maroon 5,"3,143,116,042","May 31, 2018"
21,22,"""Lean On""[48]",Major Lazer,"3,105,926,931","March 22, 2015"
22,23,"""Bailando""[49]",Enrique Iglesias,"3,105,539,316","April 11, 2014"
23,24,"""Shake It Off""[50]",Taylor Swift,"3,104,230,107","August 18, 2014"
24,25,"""Let Her Go""[51]",Passenger,"3,090,217,295","July 25, 2012"
25,26,"""Axel F""[52]",Crazy Frog,"3,035,828,739","June 17, 2009"
26,27,"""Mi Gente""[53]",J Balvin,"2,986,493,839","June 29, 2017"
27,28,"""Perfect""[54]",Ed Sheeran,"2,974,982,274","November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"2,962,613,841","June 4, 2010"
29,30,"""Hello""[56]",Adele,"2,889,107,727","October 23, 2015"

2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: 
        
        A) Match title (I.e. 1st ODI) 
        
        B) Series 
        
        C) Place 
        
        D) Date 
        
        E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# loading Chrome webdriver
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver")
# opening the url
driver.get('https://www.bcci.tv')

# getiing the internation fixture page
page = driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a')
page.click()

In [8]:
# storing details
title = []
series = []
place = []
date = []
time = []
list1 = []
list2 = []

# scraping the title
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    title.append(i.text)

# scraping series name
for j in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(j.text)
    
# scraping the place
for k in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(k.text)
    
# scraping date of the match
for l in driver.find_elements_by_xpath("//span[@class='fixture__date']"):
    list1.append(l.text)
for m in driver.find_elements_by_xpath("//span[@class='fixture__month']"):
    list2.append(m.text)
date = [i + j for i, j in zip(list1, list2)]

# scraping time
for n in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    time.append(n.text)

In [9]:
fixture = pd.DataFrame({})
fixture['Match Title'] = title
fixture['Series'] = series
fixture['Place'] = place
fixture['Date'] = date
fixture['Time'] = time

In [10]:
fixture

,Match Title,Series,Place,Date,Time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24OCTOBER,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31OCTOBER,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05NOVEMBER,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08NOVEMBER,19:30 IST
5,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19NOVEMBER,19:00 IST
7,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21NOVEMBER,19:00 IST
8,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25NOVEMBER,09:30 IST
9,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03DECEMBER,09:30 IST
10,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17DECEMBER,13:30 IST
11,TEST,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26DECEMBER,13:30 IST
12,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03JANUARY,13:30 IST
13,ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11JANUARY,14:00 IST
14,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14JANUARY,14:00 IST
15,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16JANUARY,14:00 IST
16,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19JANUARY,19:30 IST
17,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21JANUARY,19:30 IST
18,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23JANUARY,19:30 IST
19,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26JANUARY,19:30 IST

3-Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: 

A) Name 

B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
# loading Chrome webdriver
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver")
# opening url
driver.get('https://www.guru99.com')

In [15]:
# locating search input
search_inp = input("Enter the topic: ")
serach_bar = driver.find_element_by_xpath('//*[@id="gsc-i-id2"]')
serach_bar.send_keys(search_inp)
driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/form/table/tbody/tr/td[2]/button').click()

KeyboardInterrupt: Interrupted by user

4-Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code

In [16]:
# loading Chrome webdriver
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver")
# opening url
driver.get('http://statisticstimes.com/')

In [17]:
# opening the indian GDP page
a = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
driver.get(a.get_attribute('href'))

In [18]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [19]:
rank = []
state = []
gsdp_1920 = []
gsdp_1819 = []
share = []
gdp = []

# scraping rank
for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)

#scraping state
for j in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
    state.append(j.text)

# scraping GSDP 19-20
for k in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'):
    gsdp_1920.append(k.text)
    
# scraping GSDP 18-19
for l in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'):
    gsdp_1819.append(l.text)
    
# scraping share
for m in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'):
    share.append(m.text)
    
# scraping GDP
for n in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'):
    gdp.append(n.text)

In [20]:
stats = pd.DataFrame({})
stats['Rank'] = rank
stats['State'] = state
stats['GSDP at current price(19-20)'] = gsdp_1920
stats['GSDP at current price(18-19)'] = gsdp_1819
stats['Share'] = share
stats['GDP'] = gdp
stats

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5-Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: 

A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [22]:
# loading Chrome webdriver
driver = webdriver.Chrome('C:/Users/User/Downloads/chromedriver_win32/chromedriver')
# opening the url
driver.get('https://www.github.com')

trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
trending = trending.get_attribute('href')
driver.get(trending)

In [23]:
# vreating variable to store the data
title = []
desc = []
contri = []
lang = []
url = []

#scraping title
for h in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    title.append(h.text[h.text.find("/")+1:])

# sraping language used
loop = range(1,26)
for i in loop:
    try:
        a = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/div[2]/span[1]/span[2]')
        lang.append(a.text)
    except NoSuchElementException:
        lang.append('-')

# scraping contribution count
for j in driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]"):
    contri.append(j.text)
    
# scraping title and description
for k in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(k.get_attribute('href'))

In [24]:
github = pd.DataFrame({'Repository title': title,
                      'Contributord count': contri,
                      'Language Used': lang})
github

                     Repository title Contributord count Language Used
0                         Dummy-Robot                389             -
1                         Real-ESRGAN                370        Python
2                          sm64ex-ios                 12             C
3                ethereum-org-website              1,470    JavaScript
4           useful-custom-react-hooks                130    JavaScript
5                                algo              1,922        Python
6           promote-your-next-startup                116             -
7                     awesome-actions              1,009             -
8    Google-Chinese-Results-Blocklist                157             -
9                          L-ink_Card              1,384             C
10                               iptv              3,603    JavaScript
11              peng-zhihui.github.io                117          HTML
12                    ExplorerPatcher                 21             C
13                            openwrt              6,302             C
14                            go-zero              1,388            Go
15                               EIPs              2,840      Solidity
16                            bitcoin             30,136           C++
17                               docs             27,598    JavaScript
18                                gop                402            Go
19                       eattheblocks              1,848    JavaScript
20                              lotus                894            Go
21                               bevy                950          Rust
22                             ghidra              3,807          Java
23                                 go             13,399            Go
24                           ourboard                 13    TypeScript

6-Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [25]:
# loading Chrome webdriver
driver = webdriver.Chrome('C:/Users/User/Downloads/chromedriver_win32/chromedriver')
# opening url
driver.get('https://www.billboard.com')

In [26]:
# clicking the hot 100 bar
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()

In [27]:
# creating variable to store the data
song = []
artist = []
w_rank = []
p_rank = []
on_board = []

#scraping song name
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
    song.append(i.text)
    
# scarping artist name
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(j.text)
    
#scraping last week rank
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    w_rank.append(k.text)
    
#scraping peak rank
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    p_rank.append(l.text)
    
#scraping weeks on board
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    on_board.append(m.text)

In [28]:
Billboard = pd.DataFrame({'Song Name': song,
                         'Artist Name': artist,
                         'Last week rank': w_rank,
                         'Peak rank': p_rank,
                         'Weeks on board': on_board})
Billboard

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

7-Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code.

In [35]:
#connecting to the web driver
driver=webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver") 

#get the url
url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)

# entering “Data Analyst” in “Skill,Designations,Companies” field.
search_field=driver.find_element_by_xpath("//input[@class='sugInp']") #job search bar
search_field.send_keys("Data Science")

# clicking the search button
search_button=driver.find_element_by_id("qsbFormBtn")
search_button.click()

#creating empty list for scraping data
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

#scraping the job-titles
title=driver.find_elements_by_xpath("//p[@class='highlightable']//a")[:48]
for i in title:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
#scraping the Designation
deg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")[:48]
for i in deg:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
               
#scraping the Company
comp=driver.find_elements_by_xpath("//a[@class='ellipsis']")[:48]
for i in comp:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
               
#scraping the Skills_they_hire_for
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[:48]
for i in skills:
    if i.text is None :
        Skills_they_hire_for.append("--") 
    else:
        Skills_they_hire_for.append(i.text)
        
#scraping the Location
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")[:48]
for i in loc:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)  
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name,"Designation":Designation,"Company":Company,"Skills_they_hire_for":Skills_they_hire_for,"Location":Location})
df.head(10)

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Data Science Network,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,shravan Kumar Gaddam,Company HR,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine...",Pune
3,Shore Infotech India Pvt. Ltd,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company Recruiter,MARSIAN Technologies LLP,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,MARSIAN Technologies LLP,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Anik Agrawal,Recruitment Lead Consultant,Anik Agrawal,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Enerlytics Software Solutions Pvt Ltd,Programme Manager,Enerlytics Software Solutions Pvt Ltd,Data Science,Chennai
8,Narasimha,HR Administrator,Narasimha,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Step Next Private Limited,Director,Step Next Private Limited,"Technical Training, Software Development, Pres...",Indore

8- Scrape the details of Highest selling novels.

In [36]:
#connecting to the web driver
driver=webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver") 

#get the url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#scraping Books Name
book=driver.find_elements_by_xpath("//td[@class='left']")
for i in book:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
                
# scraping Author name
author=driver.find_elements_by_xpath("//td[@class='left']")
for i in author:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)
        
# scraping Volumes Sold
volume=driver.find_elements_by_xpath("//td[@class='left']")
for i in volume:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
                
# scraping Publisher
publisher=driver.find_elements_by_xpath("//td[@class='left']")
for i in publisher:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
               
# scraping Genre
genre = driver.find_elements_by_xpath(("//td[@class='last left']"))
for i in genre:
    if i.text is None :
        Genre.append("--")
    else:
        Genre.append(i.text)
        
# creating the dataframe from the scraped data
df=pd.DataFrame({"Book_name":Book_name[1::5],"Author_name":Author_name[2::5],"Volumes_sold":Volumes_sold[3::5],"Publisher":Publisher[4::5],"Genre":Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9-Scrape the details most watched tv series of all time from imdb.com

In [38]:
#connecting to the web driver
driver=webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver") 

#get the url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

# creating empty lists for scraping data
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# scraping top Movies name
name = driver.find_elements_by_xpath(("//h3[@class='lister-item-header']//a"))
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
#scraping year span       
year = driver.find_elements_by_xpath(("//span[@class='lister-item-year text-muted unbold']"))
for i in year:       
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text) 
        
#scraping genre       
gen = driver.find_elements_by_xpath(("//span[@class='genre']"))
for i in gen :       
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
#scraping run time
time = driver.find_elements_by_xpath(("//span[@class='runtime']"))
for i in time:       
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)

#scraping ratings
rate = driver.find_elements_by_xpath(("//div[@class='ipl-rating-star small']"))
for i in rate:       
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)

#scraping votes
vote = driver.find_elements_by_xpath(("//span[@name='nv']"))
for i in vote:       
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,882,783"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,145"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,507"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,951"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,332"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,907"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,778"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,382"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,895"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"203,838"

10-Details of Datasets from UCI machine learning repositories.

In [48]:
# loading Chrome webdriver
driver = webdriver.Chrome('C:/Users/User/Downloads/chromedriver_win32/chromedriver')
# opening the url
driver.get('https://archive.ics.uci.edu/')

In [49]:
# opening view all dataset page
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [50]:
# creating variables to store the data
name = []
data_type = []
task = []
attribute = []
instance = []
n_attribute = []
year = []

#scraping the dataset name
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]'):
    name.append(i.text)
    
#scraping the data type
for j in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    data_type.append(j.text)
    
#scraping the task
for k in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(k.text)
    
#scraping the attribute type
for l in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    attribute.append(l.text)
    
#scraping the number of instance
for m in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    instance.append(m.text)
    
#scraping the number of attribute
for n in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    n_attribute.append(n.text)
    
#scraping the year
for o in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(o.text)

In [51]:
#creating the dataframe
df = pd.DataFrame({'Dataset Name': name,
                        'Data Type': data_type,
                        'Task': task,
                        'Attribute Type': attribute,
                        'Number of Instance': instance,
                        'Number of Attribute': n_attribute,
                        'Year': year})
df

,Dataset Name,Data Type,Task,Attribute Type,Number of Instance,Number of Attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021